div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #C1C2C6;
   background-image: url(../images/fon_970.jpg);
   background-attachment: scroll;
   background-position: center top;
   background-repeat: repeat-y;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#LayerGlavnyi
{
   background-color: transparent;
   background-image: none;
}
#Chel1
{
   background-color: transparent;
   background-image: url(../images/chel011.gif);
   background-repeat: no-repeat;
   background-position: left top;
}
#PlashkaChel
{
   background-color: transparent;
   background-image: url(../images/Plashka2.png);
   background-repeat: repeat;
   background-position: left top;
}
#LayerLogo
{
   background-color: transparent;
   background-image: url(../images/logosayt.png);
   background-repeat: repeat;
   background-position: left top;
}
#Chel2
{
   background-color: transparent;
   background-image: url(../images/chel22.gif);
   background-repeat: repeat;
   background-position: left top;
}
#Chel3
{
   background-color: transparent;
   background-image: url(../images/chel032.gif);
   background-repeat: repeat;
   background-position: left top;
}
#Chel4
{
   background-color: transparent;
   background-image: url(../images/chel44.gif);
   background-repeat: repeat;
   background-position: left top;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
